# IDE configuration folders
.idea/
.vs/

# Build folders
__pycache__/
cmake-build-debug/
out/
output/
enc_temp_folder/

# Local configurations
compile_commands.json
CMakeSettings.json
scripts/save_setup.sh

# Ignorable extensions
*.swp
*.mdj
*.tmp

# Ignore dependencies for now
deps/
resources/

# Game configuration
game.json
